body{
    margin: 0;
    font-family: sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

th, td {
    padding: 10px;
}

#content{
    width: 50%;
}
